<div class="termos-container">
    <h2 class="header-text">Política de Privacidade – Aloongs</h2>
    <h3 class="header-text">1. Introdução</h3>
    <p class="normal-text">
        No Aloongs, a sua privacidade e a segurança dos seus dados são
        prioridade. Esta Política de Privacidade explica como coletamos,
        usamos, armazenamos e protegemos suas informações pessoais.
    </p>
    <h3 class="header-text">2. Dados Coletados</h3>
    <p class="normal-text">
        • Nome completo <br> • CPF e/ou CNPJ <br> • Endereço residencial ou comercial <br> •
        Telefone <br> • e-mail <br> • Dados cadastrais
        adicionais necessários para utilização dos serviços <br> •
        Informações de uso do aplicativo e preferências do usuário <br>
    </p>
    <h3 class="header-text">3. Finalidade do Tratamento</h3>
    <p class="normal-text">
        Seus dados são utilizados para: <br> • Garantir o
        funcionamento do Aloongs e a prestação de serviços <br> •
        Contato e comunicação sobre serviços <br>
        • atualizações <br> • Cumprir obrigações legais ou
        regulatórias <br>
        • Análise de uso e melhorias na plataforma
    </p>
    <h3 class="header-text">4. Compartilhamento de Dados</h3>
    <p class="normal-text">
        Seus dados podem ser compartilhados somente quando necessário: <br>
        • Com prestadores de serviços que auxiliam na operação do
        Aloongs <br> • Para cumprimento de obrigações legais,
        judiciais ou regulatórias <br> • Com parceiros da Aloongs,
        desde que anonimizados ou mediante seu consentimento <br>
    </p>
    <h3 class="header-text">5. Armazenamento e Segurança</h3>
    <p class="normal-text">
        •Seus dados são armazenados em servidores seguros e
        protegidos contra acesso não autorizado <br> •
        Implementamos medidas técnicas e administrativas para proteger os
        dados contra perda, alteração ou vazamento<br>
    </p>
    <h3 class="header-text">6. Direitos do Usuário</h3>
    <p class="normal-text">
        De acordo com a LGPD, você tem direito de: <br>
        •Acessar os seus dados pessoais <br> • Corrigir
        dados incompletos, inexatos ou desatualizados"<br>
        •Solicitar a exclusão dos seus dados, quando aplicável <br>
        •Revogar consentimentos fornecidos <br>
    </p>
    <h3 class="header-text">7. Retenção de Dados</h3>
    <p class="normal-text">
        Os dados pessoais serão mantidos apenas pelo tempo necessário para
        cumprir as finalidades descritas nesta política ou conforme exigido
        por lei.
    </p>
    <h3 class="header-text">
        8. Cookies e Tecnologias Similares
    </h3>
    <p class="normal-text">
        O Aloongs pode utilizar cookies e tecnologias semelhantes para
        melhorar a experiência do usuário e analisar o uso da plataforma.
    </p>
    <h3 class="header-text">9. Alterações nesta Política</h3>
    <p class="normal-text">
        Podemos atualizar esta Política de Privacidade periodicamente.
        Notificaremos os usuários sobre alterações significativas, e
        recomendamos que revisem esta página regularmente.
    </p>
    <h3 class="header-text">10. Contato</h3>
    <p class="normal-text">
        Para dúvidas ou solicitações relacionadas à privacidade e proteção de
        dados, entre em contato conosco: Email: suportealoongs&#64;gmail.com
    </p>
</div>
